{% extends "main.html" %}
{% block body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Brief News!</h1>
    <p>A newsletter that creates automated summaries of top news articles for a quick look at what's going on around the world.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>About</h2>
      <p>Learn more about how this summarizer works</p>
      <p><a class="btn btn-default" href="/about" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Sign up</h2>
      <p>Sign up for the newsletter</p>
      <p><a class="btn btn-default" href="/signup" role="button">Sign up! &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Example</h2>
      <p>Submit an article to see the summarization in action</p>
      <p><a class="btn btn-default" href="/example" role="button">Example &raquo;</a></p>
    </div>
  </div>

{% endblock %}
